* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.header {
    background-color: #4CAF50;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

/* Section 1 */
.pagina {
    background-image: url(/images/alternativas/arvore1.webp);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
    margin-top: 0;
    padding: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagina h1 {
    font-size: 28px;
    color: white;
    background-color: rgba(34, 139, 34, 0.8); 
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block; 
}

/* Section 2 */
.pagina2 {
    background-color: #f8f9fa;
    text-align: center;
    padding: 40px 20px;
    min-height: 60vh; 
    margin-top: 0; 
    margin-bottom: 20px;
}

.pagina2 h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.pagina2 p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.pagina2 img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.pagina2 .intro-text {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
}

.pagina2 .btn-calc {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagina2 .btn-calc:hover {
    background-color: lightgreen;
}

/* Footer */
.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}
